
<option value="">Choose the country from EU</option>
<option value="Austria">Austria</option>
<option value="Belgium">Belgium</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Croatia">Croatia</option>
<option value="Cyprus">Cyprus</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Estonia">Estonia</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="Germany">Germany</option>
<option value="Greece">Greece</option>
<option value="Hungary">Hungary</option>
<option value="Ireland">Ireland</option>
<option value="Italy">Italy</option>
<option value="Latvia">Latvia</option>
<option value="Lithuania">Lithuania</option>
<option value="Malta">Malta</option>
<option value="Netherlands">Netherlands</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Romania">Romania</option>
<option value="Slovakia">Slovakia</option>
<option value="Slovenia">Slovenia</option>
<option value="Spain">Spain</option>
<option value="Spain">Spain</option>
<option value="Sweden">Sweden</option>

@* <ul class="dropdown-menu-dark">
    <li class="dropdown-item">Austria</li>
    <li class="dropdown-item">Belgium</li>
    <li class="dropdown-item">Bulgaria</li>
    <li class="dropdown-item">Croatia</li>
    <li class="dropdown-item">Cyprus</li>
    <li class="dropdown-item">Czech Republic</li>
    <li class="dropdown-item">Denmark</li>
    <li class="dropdown-item">Estonia</li>
    <li class="dropdown-item">Finland</li>
    <li class="dropdown-item">France</li>
    <li class="dropdown-item">Germany</li>
    <li class="dropdown-item">Greece</li>
    <li class="dropdown-item">Hungary</li>
    <li class="dropdown-item">Ireland</li>
    <li class="dropdown-item">Italy</li>
    <li class="dropdown-item">Latvia</li>
    <li class="dropdown-item">Lithuania</li>
    <li class="dropdown-item">Malta</li>
    <li class="dropdown-item">Netherlands</li>
    <li class="dropdown-item">Poland</li>
    <li class="dropdown-item">Portugal</li>
    <li class="dropdown-item">Romania</li>
    <li class="dropdown-item">Slovakia</li>
    <li class="dropdown-item">Slovenia</li>
    <li class="dropdown-item">Spain</li>
    <li class="dropdown-item">Sweden</li>
</ul> *@