@model DetailOfferViewModel
@if (Model.RecipientDetail.RecipientId != null)
{
    
}
else
{
    <h4 class="text-center">
        <span class="text-danger text-center">No recipient company yet</span>
    </h4>
    <br/>
    <br/>
    <br/>
    <a asp-action="AddRecipient" asp-controller="Offer" class="btn btn-primary">Add Recpient Company </a>
}