@using Microsoft.AspNetCore.Identity
@inject SignInManager<EuropeanContractUser> SignInManager
@inject UserManager<EuropeanContractUser> UserManager
@inject ITransportCompanyService transportService
@inject IRecipientCompanyService recipientService
@inject ISupplierCompanyService supplierService


@{
    string? companyName = string.Empty;
    if (User.Identity.IsAuthenticated && User.HasClaim(c => c.Type == CustomUserClaimType.UserCompanyNameCustomClaim))
    {
        companyName = User.FindFirst(CustomUserClaimType.UserCompanyNameCustomClaim).Value.ToString();
    }
}
<li class="navbar-text-light">
    @if (SignInManager.IsSignedIn(User))
    {
        if (await transportService.DoesTransporterExistsAsync(User.Id()))
        {
            <div>
                <b>
                    TRANSPORT COMPANY:@companyName
                </b>
                <a class="btn btn-primary"asp-area="" asp-controller="TransportCompany" asp-action="MyOffers">My Offers </a>
                <a class="btn btn-primary"asp-area="" asp-controller="TransportCompany" asp-action="AllTrucks">My Trucks </a>
                <a class="btn btn-primary"asp-area="" asp-controller="TransportCompany" asp-action="AllTrailers">My Trailers </a>
                <a class="btn btn-primary"asp-area="" asp-controller="Truck" asp-action="Add">Add Truck </a>
                <a class="btn btn-primary"asp-area="" asp-controller="Trailer" asp-action="Add">Add Trailer </a>
            </div>
        }
        if (await recipientService.DoesRecipientExists(User.Id()))
        {
            <b>
                RECIPIENT COMPANY:@companyName
            </b>
            <a class="btn btn-primary" asp-area="" asp-controller="RecipientCompany" asp-action="MyOffers">My Offers </a>
        }
        if (await supplierService.DoesSupplierExists(User.Id()))
        {
            <b>
                SUPPLIER COMPANY: @companyName
            </b>
            <a class="btn btn-primary" asp-area="" asp-controller="SupplierCompany" asp-action="MyOffers">My Offers </a>
            <a class="btn btn-primary" asp-area="" asp-controller="Offer" asp-action="Create">Create Offer </a>
            <a class="btn btn-primary" asp-area="" asp-controller="ActionType" asp-action="Add">Create Action Type </a>
        }
    }
</li>
