@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITransportCompanyService transportService
@inject IRecipientCompanyService recipientService
@inject ISupplierCompanyService supplierService

<li class="navbar-text-light">
    @if (SignInManager.IsSignedIn(User))
    {
        if (await transportService.IsTransporterExistFindByIdAsync(User.Id()))
        {
            <div>
                <b>
                    TRANSPORT COMPANY:"@await transportService.ReturnTransporterNameAsync(User.Id())"
                </b>
                <a class="btn btn-primary" asp-controller="TransportCompany" asp-action="AllOffers">My offers </a>
                <a class="btn btn-primary" asp-controller="TransportCompany" asp-action="AllTrucks">My trucks </a>
                <a class="btn btn-primary" asp-controller="TransportCompany" asp-action="AllTrailers">My trailers </a>
                <a class="btn btn-primary" asp-controller="Truck" asp-action="Add">Add truck </a>
                <a class="btn btn-primary" asp-controller="Trailer" asp-action="Add">Add trailer </a>
            </div>
        }
        if (await recipientService.FindRecipientByIdAsync(User.Id()))
        {
            <b>
                RECIPIENT COMPANY:"@await recipientService.ReturnRecipientName(User.Id())"
            </b>
        }
        if (await supplierService.FindSupplierByIdAsync(User.Id()))
        {
            <b>
                SUPPLIER COMPANY: "@await supplierService.ReturnSupplierName(User.Id())"
            </b>
        }
    }
</li>
