@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Information">Information</a>
        </li>
    </ul>
}

    
