@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITransportCompanyService transportService
@inject ITransportCompanyService recipientService
@inject ISupplierCompanyService supplierService

<li class="navbar-text-light">
    @if (SignInManager.IsSignedIn(User))
    {
        if (await transportService.FindTransporterByIdAsync(User.Id()))
        {
            <b>
                TRANSPORT COMPANY:"@await transportService.ReturnTransporterName(User.Id())"
            </b>

        }
        if (await recipientService.FindTransporterByIdAsync(User.Id()))
        {
            <b>
                RECIPIENT COMPANY:"@await recipientService.ReturnTransporterName(User.Id())"
            </b>
        }
        if (await supplierService.FindSupplierByIdAsync(User.Id()))
        {
            <b>
                SUPPLIER COMPANY: "@await supplierService.ReturnSupplierName(User.Id())"
            </b>
        }
    }
</li>
