@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>European Contracts</b></h1>
    <p>Your gateway to the right business solutions</p>

    <img class="home-page-image" src="~/images/contractImage.png" style="width: 75vh" />
</div>
